# 1.Series

In [73]:
import numpy as np
import pandas as pd
from numpy.random import randn
from pandas import Series,DataFrame

In [74]:
obj = Series([10,20,30,40,50,60])
obj

0    10
1    20
2    30
3    40
4    50
5    60
dtype: int64

In [75]:
obj.values

array([10, 20, 30, 40, 50, 60])

In [76]:
obj.index

RangeIndex(start=0, stop=6, step=1)

In [77]:
classname = ['Taro','Jiro','Hanako','Maki']
height = Series([174,167,151,169],index=classname)
height

Taro      174
Jiro      167
Hanako    151
Maki      169
dtype: int64

In [78]:
height.name = 'height'
height.index.name = 'name'
height

name
Taro      174
Jiro      167
Hanako    151
Maki      169
Name: height, dtype: int64

In [79]:
pd.notnull(height)

name
Taro      True
Jiro      True
Hanako    True
Maki      True
Name: height, dtype: bool

# 2.Dataframe

In [84]:
saigaihaken = pd.read_clipboard()

In [85]:
saigaihaken

          要請日時            要請元             要請先        要請内容        撤収日時
0    7月6日1時10分          京都府知事   陸上自衛隊第7普通科連隊長        水防活動    7月6日7時5分
1    7月6日3時30分          高知県知事  陸上自衛隊第50普通科連隊長     孤立者の救助等         NaN
2    7月6日9時56分          福岡県知事      陸上自衛隊第4師団長        人命救助   7月9日8時34分
3   7月6日18時35分          京都府知事   陸上自衛隊第7普通科連隊長   水防活動（再要請）  7月6日23時30分
4   7月6日21時00分          広島県知事     陸上自衛隊第13旅団長        人命救助         NaN
5   7月6日23時11分          岡山県知事     陸上自衛隊第13旅団長       人命救助等         NaN
6    7月7日6時10分          京都府知事   陸上自衛隊第7普通科連隊長        人命救助   7月8日17時5分
7        愛媛県知事  陸上自衛隊中部方面特科隊長      7月12日10時2分         NaN         NaN
8    7月7日7時35分          山口県知事  陸上自衛隊第17普通科連隊長  7月7日14時55分         NaN
9    7月7日9時42分          京都府知事     海上自衛隊舞鶴地方総監         NaN         NaN
10   7月8日5時00分          兵庫県知事     陸上自衛隊第3特科隊長  7月8日17時45分         NaN

In [86]:
#columns 列の名前を取得
saigaihaken.columns

Index(['要請日時', '要請元', '要請先', '要請内容', '撤収日時'], dtype='object')

In [87]:
#列のデータを取得
saigaihaken["要請日時"]

0      7月6日1時10分
1      7月6日3時30分
2      7月6日9時56分
3     7月6日18時35分
4     7月6日21時00分
5     7月6日23時11分
6      7月7日6時10分
7          愛媛県知事
8      7月7日7時35分
9      7月7日9時42分
10     7月8日5時00分
Name: 要請日時, dtype: object

In [88]:
#オブジェクトの属性のような書き方も可能」
saigaihaken.要請日時

0      7月6日1時10分
1      7月6日3時30分
2      7月6日9時56分
3     7月6日18時35分
4     7月6日21時00分
5     7月6日23時11分
6      7月7日6時10分
7          愛媛県知事
8      7月7日7時35分
9      7月7日9時42分
10     7月8日5時00分
Name: 要請日時, dtype: object

In [89]:
saigaihaken2 = DataFrame(saigaihaken, columns=['要請日時','要請内容'])
saigaihaken2

          要請日時        要請内容
0    7月6日1時10分        水防活動
1    7月6日3時30分     孤立者の救助等
2    7月6日9時56分        人命救助
3   7月6日18時35分   水防活動（再要請）
4   7月6日21時00分        人命救助
5   7月6日23時11分       人命救助等
6    7月7日6時10分        人命救助
7        愛媛県知事         NaN
8    7月7日7時35分  7月7日14時55分
9    7月7日9時42分         NaN
10   7月8日5時00分  7月8日17時45分

In [90]:
saigaihaken2.head(2)

        要請日時     要請内容
0  7月6日1時10分     水防活動
1  7月6日3時30分  孤立者の救助等

In [91]:
saigaihaken2.tail(2)

         要請日時        要請内容
9   7月7日9時42分         NaN
10  7月8日5時00分  7月8日17時45分

In [92]:
#行の取り出し
saigaihaken2.loc[3]

要請日時    7月6日18時35分
要請内容     水防活動（再要請）
Name: 3, dtype: object

In [93]:
junjo = np.arange(6)
junjo

array([0, 1, 2, 3, 4, 5])

In [94]:
saigaihaken2['順序'] = junjo

ValueError: Length of values does not match length of index

In [95]:
saigaihaken2

          要請日時        要請内容
0    7月6日1時10分        水防活動
1    7月6日3時30分     孤立者の救助等
2    7月6日9時56分        人命救助
3   7月6日18時35分   水防活動（再要請）
4   7月6日21時00分        人命救助
5   7月6日23時11分       人命救助等
6    7月7日6時10分        人命救助
7        愛媛県知事         NaN
8    7月7日7時35分  7月7日14時55分
9    7月7日9時42分         NaN
10   7月8日5時00分  7月8日17時45分

In [96]:
del saigaihaken2['順序']

KeyError: '順序'

# 3.index

In [97]:
#Seriesを定義
series1 = Series([10,20,30,40], index=[0,1,2,3])
series1

0    10
1    20
2    30
3    40
dtype: int64

In [98]:
#SeriesからIndexを抜き出す
index1 = series1.index
index1

Int64Index([0, 1, 2, 3], dtype='int64')

In [99]:
#indexの要素を取り出す
index1[2]

2

In [100]:
series2 = series1.reindex(['A','B','C','D'])
series2

A   NaN
B   NaN
C   NaN
D   NaN
dtype: float64

In [101]:
#ランダムな数のDataFrameを作成
randframe = DataFrame(randn(15).reshape((3,5)), index=['A','B','D'], columns=['col1','col2','col3','col4','col5'])
randframe

       col1      col2      col3      col4      col5
A  0.686544  0.556192  0.123399  0.165419 -1.061771
B  0.946686 -0.007515  0.482432  0.798483 -0.515731
D  3.129847  0.370175 -0.223734  0.414397  1.792531

In [102]:
#新しい行のindexを追加
new_index = ['A','B','C','D']
randframe2 = randframe.reindex(new_index, fill_value=0)
randframe2

       col1      col2      col3      col4      col5
A  0.686544  0.556192  0.123399  0.165419 -1.061771
B  0.946686 -0.007515  0.482432  0.798483 -0.515731
C  0.000000  0.000000  0.000000  0.000000  0.000000
D  3.129847  0.370175 -0.223734  0.414397  1.792531

In [103]:
#新しい列を追加
new_columns = ['col1','col2','col3','col4','col5','col6']
randframe2 = randframe2.reindex(columns=new_columns)
randframe2

       col1      col2      col3      col4      col5  col6
A  0.686544  0.556192  0.123399  0.165419 -1.061771   NaN
B  0.946686 -0.007515  0.482432  0.798483 -0.515731   NaN
C  0.000000  0.000000  0.000000  0.000000  0.000000   NaN
D  3.129847  0.370175 -0.223734  0.414397  1.792531   NaN

In [104]:
#行、列を同時に追加
randframe3 = randseries.reindex(new_index, columns=new_columns)
randframe3

NameError: name 'randseries' is not defined

In [105]:
#Series1を定義
series1 = Series(np.arange(4), index=['a','b','c','d'])
series1

a    0
b    1
c    2
d    3
dtype: int64

In [106]:
#Seriesの行を削除
series1.drop('a')

b    1
c    2
d    3
dtype: int64

In [107]:
#Dataframe1を定義
dataframe1 = DataFrame(np.arange(9).reshape((3,3)), index=['JPN','USA','EU'], columns=['gdp','pop','landarea'])
dataframe1

     gdp  pop  landarea
JPN    0    1         2
USA    3    4         5
EU     6    7         8

In [108]:
#行を削除
dataframe1.drop('EU', axis=0)

     gdp  pop  landarea
JPN    0    1         2
USA    3    4         5

In [109]:
#列を削除
dataframe1.drop('landarea',axis=1)

     gdp  pop
JPN    0    1
USA    3    4
EU     6    7

In [110]:
series2 = Series(np.arange(3), index=['A','B','C'])
series2

A    0
B    1
C    2
dtype: int64

In [111]:
#行の取り出し
series2['A']

0

In [112]:
dataframe2 = DataFrame(np.arange(25).reshape(5,5), index=['JPN','USA','EU','RUS','KR'], columns=['A','B','C','D','E'])
dataframe2

      A   B   C   D   E
JPN   0   1   2   3   4
USA   5   6   7   8   9
EU   10  11  12  13  14
RUS  15  16  17  18  19
KR   20  21  22  23  24

In [113]:
#列の取り出し1
dataframe2['A']

JPN     0
USA     5
EU     10
RUS    15
KR     20
Name: A, dtype: int64

In [114]:
#列の取り出し2
dataframe2[['B','E']]

      B   E
JPN   1   4
USA   6   9
EU   11  14
RUS  16  19
KR   21  24

In [115]:
#行の取り出し1
dataframe2.loc['JPN']

A    0
B    1
C    2
D    3
E    4
Name: JPN, dtype: int64

In [116]:
#行の取り出し2
dataframe2.loc[['JPN','USA']]

     A  B  C  D  E
JPN  0  1  2  3  4
USA  5  6  7  8  9

In [117]:
dataframe2[0:2]

     A  B  C  D  E
JPN  0  1  2  3  4
USA  5  6  7  8  9

In [118]:
dataframe2[dataframe2['C']>8]

      A   B   C   D   E
EU   10  11  12  13  14
RUS  15  16  17  18  19
KR   20  21  22  23  24

In [120]:
#データフレームの和を求める
dframe1 = DataFrame(np.arange(4).reshape(2,2), columns=list('AB'))
dframe2 = DataFrame(np.arange(9).reshape(3,3), columns=list('ACD'))

In [121]:
dframe1 + dframe2 #通常に足すとどちらかに値がない場合NaNになる

     A   B   C   D
0  0.0 NaN NaN NaN
1  5.0 NaN NaN NaN
2  NaN NaN NaN NaN

In [122]:
dframe1.add(dframe2, fill_value = 0) #.add() データフレーム同士を足す

     A    B    C    D
0  0.0  1.0  1.0  2.0
1  5.0  3.0  4.0  5.0
2  6.0  NaN  7.0  8.0

In [126]:
ser1 = dframe2.loc[0]
ser1

A    0
C    1
D    2
Name: 0, dtype: int64

In [127]:
dframe3 = dframe2 + ser1 #ser1の行がdframe3の各行にたされる

In [131]:
ser3 = Series(randn(10))
ser3

0   -0.382621
1    0.567946
2    0.439600
3    0.753961
4   -1.430246
5    0.851199
6   -0.689481
7   -0.904481
8    1.789248
9   -0.164358
dtype: float64

In [133]:
ser3.order()

AttributeError: 'Series' object has no attribute 'order'